// 
// Typography
// 

// Override Bootstrap typography variables

$font-family-base: 'Raleway', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-headers: 'Antonio', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$headings-font-weight: 400;

// Añadimos la variable para los botones
$btn-font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;