// 
// Typography
// 

// Override Bootstrap typography variables

$font-family-base: 'Palatino Linotype', 'Book Antiqua', Palatino, serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$headings-font-weight: 700;

// Añadimos la variable para los botones
$btn-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;